.parafont{
    font-weight: 500;
}

.para2{
    padding-left: 5px; 
    color: rgb(13, 13, 128);
}

#atmos{
    font-family: sans-serif;
    color: rgb(13, 13, 128);
}

#para{
    font-family: sans-serif;
    color: rgb(13, 13, 128);
}

#result{
    border-radius: 10px;
}

@media(min-width:375px) and (max-width:768px){
    #inp{
        margin-top: 3rem;
    }
}

@media(max-width:375px){
    #inp{
        margin-top: 3rem;
    }
}

@media(min-width:425px){
    #result{
        width: 50%;
    }
}